
  <div class="row">
      <div class="col-sm-12 question"><ng-container *ngIf="questionText; else noQuestion">{{questionText}}</ng-container></div>
      <ng-template #noQuestion>
        Kattints a <span class="start-emphasis"><span class="glyphicon glyphicon-play"></span>Start</span>-ra a kezdéshez!
      </ng-template>
  </div>
  <!-- First button row-->
  <div class="row answers">
    <div class="col-sm-6">
      <button type="button" mat-button [@blinkAnimation]="blinkAnimation.AnswerA" (click)="onAnswerClick('A')" [class.selected]="selectedLetter=='A'" [disabled]="answers?.AnswerA==null" class="answer answer-a"><span class="answer-letter">A:</span>{{answers?.AnswerA}}</button>      
    </div>
    <div class="col-sm-6">
      <button type="button" mat-button [@blinkAnimation]="blinkAnimation.AnswerB" (click)="onAnswerClick('B')" [class.selected]="selectedLetter=='B'" [disabled]="answers?.AnswerB==null" class="answer answer-b"><span class="answer-letter">B:</span>{{answers?.AnswerB}}</button>
    </div>
  </div>
  <!-- Second button row-->
  <div class="row answers">
      <div class="col-sm-6">
        <button type="button" mat-button [@blinkAnimation]="blinkAnimation.AnswerC" (click)="onAnswerClick('C')" [class.selected]="selectedLetter=='C'" [disabled]="answers?.AnswerC==null" class="answer answer-c"><span class="answer-letter">C:</span>{{answers?.AnswerC}}</button>
      </div>
      <div class="col-sm-6">
        <button type="button" mat-button [@blinkAnimation]="blinkAnimation.AnswerD" (click)="onAnswerClick('D')" [class.selected]="selectedLetter=='D'" [disabled]="answers?.AnswerD==null" class="answer answer-d"><span class="answer-letter">D:</span>{{answers?.AnswerD}}</button>
      </div>
  </div>