@import '~@angular/material/theming';

@mixin question-board-theme($theme) {

    $accent: map-get($theme, accent);

    .question {
        background-color: mat-color($mat-gray, 400);
        color: mat-contrast($mat-gray, 400);
    }

    .answers {
        button, button:focus {
    
            &.answer {
                background-color: mat-color($mat-gray, 300);
                color: mat-contrast($mat-gray, 300);

                &.correct {
                    background-color: mat-color($mat-green, 500);
                }
                &.wrong {
                    background-color: mat-color($mat-red, 600);
                }
                &.selected, &.selected:hover {
                    background-color: mat-color($accent, 900);
                }
            }
        }
    }
}