.row.answers > [class~=col-], .row.answers > [class^=col-] {
    padding-right: .5rem;
    padding-left: .5rem;
}

.question {
    min-height: 7rem;
    font-size: 2rem;
    padding: 19px;
    margin-bottom: 20px;
    span.start-emphasis {
        font-variant: all-small-caps;
    }
}

.answers {
    button, button:focus {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
        height: 4.3rem;

        &.answer span.answer-letter {
            float: left;
        }
        :host.highlight-a &.answer-a, :host.highlight-b &.answer-b,
        :host.highlight-c &.answer-c, :host.highlight-d &.answer-d {
            border: 1px solid #777;
        }        
        
    }
}