@import '~@angular/material/theming';

@mixin vertical-bar-theme($theme) {

    $primary: map-get($theme, primary);

    vertical-bar > .vertical_bar {
        background-color: mat-color($primary, 700);
        color: mat-contrast($primary, 700);
    }
}
