:host {
    display: inline-block;
    width: 4rem;
    overflow: hidden;
    
    .vertical_bar {
        width: 100%;
        padding-top: 0.3rem;
        font-size: 1.3rem;
        text-align: center;
    }
}