<div class="chart-shell">
    <graph-axis [style.height.px]="yAxisSize" axisLayout="y" [startValue]="0" [endValue]="yAxisEndValue" axisSize="{{yAxisSize}}px" [step]="step"></graph-axis>
    <div class="chart-body" [style.height.px]="yAxisSize">
        <vertical-bar *ngFor="let value of values; let i = index" [style.left.%]="(100 / (values.length + 1)) * (i + 1)" [baseValue]="baseValue" [percent]="value"></vertical-bar>
    </div>
</div>
<graph-axis class="chart-categories" axisLayout="x" [stringValues]="['','A', 'B', 'C', 'D','']"></graph-axis>