:host {
    display: block;
}

.chart-shell{
    display: block;
    padding: 0 1rem;
    overflow: hidden;
    graph-axis {
        float: left;
    }    
    .chart-body {
        display: block;
        position: relative;
        overflow: hidden;
        vertical-bar {            
            position: absolute;
            bottom: 0px;
            transform: translateX(-50%);
        }
    }
}
.chart-categories {
    margin-left: 2rem;
}