h2:first-of-type {
    margin-top: 1.5rem;
}

.technologies_list {
    list-style-type: none;
    padding: 0;
    margin-left: 1rem;
    li {
        display: inline-block;
        margin-right: 3rem;
        a {
            display: inline-block;
            img {
                height: 6rem;
            }            
        }
    }
}