<div class="credits mat-typography">
    <button matDialogClose mat-icon-button class="modal_close pull-right"><span class="glyphicon glyphicon-remove"></span></button>
    <h1 mat-dialog-title>Legyen Ön is Milliomos kvíz játék V{{appInfo.version}} </h1>
    <mat-divider></mat-divider>
    <mat-dialog-content>
      <h2>Programozta</h2>
      <p>Theobald Péter - 2018</p>
      <h2>Felhasznált technologiák</h2>
      <ul class="technologies_list">
        <li><a href="https://angular.io/"><img src="assets/angular.svg" alt="Angular"/>Angular 5.0</a></li>
        <li><a href="https://material.angular.io/"><img src="assets/angular.svg" alt="Angular"/>Angular Material</a></li>
      </ul>

      <h2>A játékról</h2>
      <p>
          A játék legelső verzióját 2008-ban készítettem. Azért készült, mert ekkor ismerkedtem a JavaScript nyújtotta lehetőségekkel és gyakorlásképp egy kicsit összetettebb programot szerettem volna írni.
      </p>
      <p>
          Nagyjából 8 évvel később, az egyetemi éveim során újra elővettem a projektet. Ekkor átesett egy kisebb kód újra strukturáláson, de alap működést nem változtattam meg. A jelenlegi (2018-as) verzió volt az első, mely komolyabb változtatásokat is tartalmazott. A 2012-es verziót alapul véve egy komplett újraíráson esett át az Angular 5.x keretrendszer használatával.
      </p>
      <p>
          Ezen verzió megírásának két motivációja volt: egyrészt egyfajta önellenőrzés, hogy mennyit fejlődött a szakmai tudásom az évek során, másrészt egy kísérlet, hogy egy hasonló funkcionalitású játékot, mint amit már írtam, így ismerem a követelményeit, viszonylag jól definiált a cél, mennyi idő alatt lehet megírni a relatíve új Angular-ban.
      </p>
      <h2>Köszönet</h2>
      <p>
          Mit ér egy kvíz játék kérdések nélkül? Nem sokat. Ezért itt külön köszönetet szeretnék mondani kedves testvéreimnek, akik nem kevés kérdéssel járultak hozzá a játék jelenlegi formájához:<br/>
          Köszönet <i>Theobald Bettinek</i> és <i>Theobald Bencének</i> a kérdések fáradhatatlan írásáért.
      </p>
      <p>
        Meg szeretném köszönni továbbá a segítségét egy kedves barátomnak is, aki a gimnáziumi éveim emlékezetesebbé tétele mellett, a játékban szereplő kérdések számát is tovább gyarapította:<br/>
        Köszönet <i>Molnár Ágnesnek</i> a kérdések írásával töltött munkájáért.
      </p>
      <h2>Licensz</h2>
      <p><a href="https://creativecommons.org/licenses/by-nc/2.0/deed.hu">CC BY-NC 2.0:</a> Nevezd meg! - Ne add el! 2.0 Általános</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" mat-dialog-close>Oké</button>
  </mat-dialog-actions>
</div>