@import '~@angular/material/theming';

@mixin credits-modal-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    
    .modal_header  > .modal_close {
        color: mat-color($foreground, icon);
    }

    h1 {
        color: mat-color($primary, darker);
    }
}