

.modal_header {
    text-align: right;
    & > .modal_close {
        display: inline-block;
        margin: .6rem;
        background-color: transparent;
        border: 0px;
        outline: none;
    }
}

.modal_content {
    padding: 1rem;
    font-size: 0;
    padding: 3px;
}

