<div class="modal_header">
  <button matDialogClose mat-icon-button class="modal_close"><span class="glyphicon glyphicon-remove"></span></button>
</div>
<div class="modal_content">
  <vertical-bar-graph [values]="audienceAnswers" [step]="10" [baseValue]="200"></vertical-bar-graph>
</div>
