@import '~@angular/material/theming';

@mixin audience-modal-theme($theme) {

    $foreground: map-get($theme, foreground);
    
    .modal_header  > .modal_close {
        color: mat-color($foreground, icon);
    }
    
    .modal_content {
        color: mat-color($foreground, text);
    }
}

