@import '~@angular/material/theming';

@mixin app-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .header-row, .footer-row {
        background-color: mat-color($primary);
    }
      
    .header-row .game-logo {
        color: mat-color($accent);
    }

    .app-info p {
        color: mat-contrast($primary, 500);
        & span:first-child {
            color: mat-color($accent);
        }
        & span:last-child {
            color: mat-color($mat-gray, 900);
        }
        &.game-author {
            color: mat-color($accent, 100)
        }
    }
    
    .left-panel {
        background-color: mat-color($primary);
    }
}

