
.container {
    margin-top: 1.25rem;
}

.btn {
    border-radius: 0;
}
.header-row {
    &>div {
        height: 6.4rem;
    }
    .game-logo {
        font-size: 2rem;
        text-align: center;
        padding-top: .8rem;
    }
    .game-aids{
        &::before {
            content: ' ';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        button {
            margin: 1rem;
            vertical-align: middle;
            .glyphicon {
                vertical-align: baseline;
            }
        }
    }
    .app-info p {
        margin: .5rem 0 0;
        text-align: right;
        &.game-version:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.game-state-toggle {
    width: 98%;
    height: 5rem;
    margin: 0.8rem 1%;
    font-size: 1.7rem;
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    .glyphicon {
        vertical-align: baseline;
        margin-right: 3px;
    }
}

question-board {
    display: block;
    margin-top: 5rem;
}

@media screen and (max-width: 767px) {
    .header-row .game-logo {
        height: 5rem;
    }
    
    .header-row .game-aids {
        text-align: center;
    }

    .footer-row .app-info {
        text-align: center;
        & > p {
            margin-top: 4px;
        }
        .game-version::after {
            content: ' - ';
        }
    }
}