<div class="container">
    <div class="row header-row">
        <div class="col-sm-3 col-md-2 game-logo"><span class="game-logo">Legyen Ön is Milliomos</span></div>
        <div class="col-sm-6 col-md-8 game-aids">
            <button type="button" mat-raised-button (click)="gameManager.ActivateHalflings()" [disabled]="!gameManager.IsHalflingsAvailable || !gameManager.IsGameStarted">50 / 50</button>
            <button type="button" mat-raised-button (click)="OpenAudienceModal()" [disabled]="!gameManager.IsAudienceAvailable || !gameManager.IsGameStarted">
                <span class="glyphicon glyphicon-user"></span>
                <span class="glyphicon glyphicon-user"></span>
                <span class="glyphicon glyphicon-user"></span>
            </button>
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs app-info">
            <p class="game-version" (click)="OpenCreditsModal()"><span>V</span>{{appInfo.version}}<span>#</span>{{questionService.TotalQuestionCount}}</p>
            <p class="game-author">&copy; {{appInfo.author}}</p>
        </div>
    </div>
    <div class="row">
        <button type="button" mat-raised-button color="primary" (click)="gameManager.StartGame()" *ngIf="!gameManager.IsGameStarted" class="game-state-toggle visible-xs"><span class="glyphicon glyphicon-play"></span>Start</button>
        <button type="button" mat-raised-button color="primary" (click)="gameManager.StopGame()" *ngIf="gameManager.IsGameStarted" [disabled]="gameManager.AnsweredQuestionCount < 1 || !gameManager.IsRiskingEnabled" class="game-state-toggle visible-xs"><span class="glyphicon glyphicon-stop"></span>Megáll</button>    

        <div class="col-sm-7 col-md-8 col-sm-push-4 col-md-push-3">
            <question-board [question]="gameManager.CurrentQuestion" [answers]="gameManager.CurrentAnswers" (answerSelected)="gameManager.OnAnswerSelection($event)" [ngClass]="gameManager.getDebugClass()"></question-board>
        </div>
        <div class="col-sm-3 col-md-2 col-sm-pull-7 col-md-pull-8 left-panel">
            <button type="button" mat-raised-button color="primary" (click)="gameManager.StartGame()" *ngIf="!gameManager.IsGameStarted" class="game-state-toggle hidden-xs"><span class="glyphicon glyphicon-play"></span>Start</button>
            <button type="button" mat-raised-button color="primary" (click)="gameManager.StopGame()" *ngIf="gameManager.IsGameStarted" [disabled]="gameManager.AnsweredQuestionCount < 1 || !gameManager.IsRiskingEnabled" class="game-state-toggle hidden-xs"><span class="glyphicon glyphicon-stop"></span>Megáll</button>    
            <score-board [earnedScore]="gameManager.AnsweredQuestionCount"></score-board>            
        </div>        
    </div>
    <div class="row footer-row">
        <div class="col-xs-12 visible-xs app-info">
            <p class="game-version visible-xs-inline-block" (click)="OpenCreditsModal()"><span>V</span>{{appInfo.version}}<span>#</span>{{questionService.TotalQuestionCount}}</p>
            <p class="game-author visible-xs-inline-block">&copy; {{appInfo.author}}</p>
        </div>        
    </div>
</div>
