
$bold_line_weight: 2px;
$bold_line_size: 1rem;

$thick_line_weight: 1px;
$thick_line_size: .7rem;


$label_width: 3rem;
$label_height: 1.45rem;

@mixin short_horizontal_line($line_size, $line_weight){
    width: $line_size;
    height: $line_weight;
    position: absolute;
    right: -1 * ($line_size / 2);
    bottom: $label_height / 2;
}

@mixin short_vertical_line($line_size, $line_weight) {
    width: $line_weight;
    height: $line_size;
    position: absolute;
    left: $label_width / 2;
    top: -1 * $line_size;     
}

// host element base styles

:host(.axis-x) {
    display: block;
    height: $label_height + $bold_line_size;
    padding-left: 2rem;
    padding-right: 2rem;

    .axis {
        display: block;
        height: 0;
        border-top: 1px solid;
        margin-bottom: ($label_height + $bold_line_size / 2);
    }
}

:host(.axis-y) {
    display: inline-block;
    padding-top: $label_height / 2;

    .axis {
        display: inline-block;
        width: 0;
        border-right: 1px solid;
        margin-left: $label_width;
    }    
}

:host(.axis-x.axis-numeric) .axis span::after{
    content: ' ';
    @include short_vertical_line($thick_line_size, $thick_line_weight)
}
:host(.axis-y.axis-numeric) .axis span::after{
    content: ' ';
    @include short_horizontal_line($thick_line_size, $thick_line_weight)
}

:host .axis {
    position: relative;
    font-size: 1.45rem;
    text-align: center;

    // vertical layout
    &.axis-y > span {
        position: absolute;
        width: $label_width;
        height: $label_height;
        right: 0;
        line-height: $label_height;
        transform: translateY(-50%);
        &:first-child{
            top: -1 * ($label_height / 2);
            transform: translateY(0);
            &::after{
                content: ' ';
                @include short_horizontal_line($bold_line_size, $bold_line_weight)
            }
        }
        &:last-child {
            bottom: -1 * ($label_height / 2);
            transform: translateY(0);
            &::after{
                content: ' ';
                @include short_horizontal_line($bold_line_size, $bold_line_weight)
            }            
        }
    }


    // horizontal layout
    &.axis-x > span {
        position: absolute;
        width: $label_width;
        height: $label_height;
        bottom: -1 * ($label_height + $bold_line_size / 2);
        line-height: $label_height;
        transform: translateX(-50%);   
        &:first-child{
            left: -1 * ($label_width / 2);
            transform: translateX(0);
            &::after{
                content: ' ';
                @include short_vertical_line($bold_line_size, $bold_line_weight)
            }
        }
        &:last-child {
            right: -1 * ($label_width / 2);
            transform: translateX(0);
            &::after{
                content: ' ';
                @include short_vertical_line($bold_line_size, $bold_line_weight)
            }            
        }
    }    
}