<div class="axis" [ngClass]="axisLayout == 'x' ? 'axis-x' : 'axis-y'" [ngStyle]="getAxisSize()">
  <span *ngFor="let label of labels; let i = index" [ngStyle]="getLabelPosition(i)">{{label}}</span>
</div>
