@import '~@angular/material/theming';

@mixin graph-axis-theme($theme) {

    $line_color: mat-color($mat-grey, 900);

    graph-axis {
        border-color: $line_color;

        &.axis-x > span {
            &:first-child::after{
                background-color: $line_color;
            }
            &:last-child::after{
                background-color: $line_color;     
            }
        }
    }

    graph-axis.axis-numeric .axis span::after{
        background-color: $line_color;
    }

}