:host .score-container{
    max-width: 210px;
    padding: 1rem;
    border-radius: 0;
    margin-bottom: 20px;
    .score-list {
        font-size: 1.4rem;
        line-height: 2.3rem;
        list-style-type: none;
        padding-left: 0;
        text-align: right;
        margin: 0;
        & li>span.list-icon {
            margin-right: 5px;
            float: left;
        }
    }
}
