<div class="score-container">
  <ul class="score-list">
    <li *ngFor="let item of scoreList;let index=index"><span class="glyphicon list-icon" [ngClass]="getClass(index)"></span><span [ngClass]="(15 - index) % 5 == 0 && index != 15 ? 'color-primary' : '' " >{{item.value | number}}</span></li>
  </ul>
</div>