@import '~@angular/material/theming';

@mixin score-board-theme($theme) {

    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    .score-container{
        background-color: mat-color($background, background);

        .color-primary {
            color: mat-color($primary, darker);
        }
    }
}
