@import '~@angular/material/theming';

@import '../palettes';
@import '../../components/theme';


@include mat-core();

$app-primary: mat-palette($app-palette-blue);
$app-accent:  mat-palette($app-palette-orange);
$app-warn:    mat-palette($mat-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$app-default-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-default-theme);

@include app-components-theme($app-default-theme);